rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read: if true;
      allow create, update: if true;
    }

    match /scores/{scoreId} {
      allow read: if true;
      allow create, update: if true;
    }

    match /bank_soal/{topicId} {
      allow read: if true;
      allow create, update: if true;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
